script(src='/AdminLTE/bower_components/jquery/dist/jquery.min.js')
script(src='/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js')
script(src='/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
script(src='/AdminLTE/plugins/input-mask/jquery.inputmask.js')
script(src='/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js')
script(src='/AdminLTE/dist/js/adminlte.min.js')
script(src='/AdminLTE/dist/js/js.js')
